/*bootstrap版css*/
#calendarYear{
	font-size: 12px;
	margin-right: 2px;
}
.jl_calender{
	margin:0;
}
.jl_table_top_sel{
	width:100%;
	border:none;
	padding:0;
}
.jl_table_top_sel tr{
}
#ContainerPanel{
	
}
#calendarPanel{
	padding:4px;
	padding-top: 10px;
	position: absolute;
	z-index: 999;
	background:#fff;
	border:1px solid #aaa;
	border-radius: 3px;
	width:175px;
	font-size: 12px;
	margin-left: 25px;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
.jl_top_left{
	text-align: left;
	width:1%;
}
.jl_top_center{
	text-align: center;
	width:98%;
}
.jl_top_center select{
	outline: none;
}
.jl_top_right{
	text-align: right;
	width:1%;
}
#prevMonth{
	margin-left: 2px;
}
#nextMonth{
	margin-right: 2px;
}
#prevMonth,#nextMonth{
	width:16px;
	height:20px;
}
#calendarTable{/*bootstrap版增加属性，默认表格为分隔*/
	margin-top: 5px;
	width:100%;
	background:#fff;
	border-collapse: separate !important;
	border-spacing: 2px;
	border-color: grey;
}
#calendarTable th{
	line-height: 18px;
	text-align: center;
}
.jl_calendarTable_top_weeks th{/*星期天导航条颜色*/
	background: #1AA97B;
	color: #fff;
	font-weight: normal;
}
.jl_sun_color{/*星期天日期的颜色*/
	cursor: default;
	/*color:#f60;*/
	text-align: center;
	line-height: 18px;
}
.jl_sta_color{/*星期六日期的颜色*/
	text-align: center;
	cursor: default;
	/*color: #00AA9A;*/
	line-height: 18px;
}
.jl_days{/*除星期六星期天以外的颜色*/
	cursor: default;
	text-align: center;
	line-height: 18px;
}
.jl_time{
	font-size: 12px;
}
#abort{
	cursor: default;
	line-height: 34px;
	width: 8px;
}
#jl_sel_time{
	line-height: 24px;
	text-align: center;
}
#jl_sel_time select{
	outline: none;
}
#jl_sel_time select option{
	outline: none;
	padding:0 5px;
}

.jl_bottom_sel{
	background: #EFEFEF;
}
.jl_bottom_sel th input{
	width:100%;
	height:20px;
	font-size:12px;
	border:none;
	background: #EFEFEF;
	outline: none;
}



